<body>
  <div id="productsContainer" class="k-d-flex" style="gap: 16px">
    <!-- Main Content Section -->
    <div class="k-d-flex-col" style="flex: 1; gap: 8px">
      <!-- Search Bar and Actions Section -->
      <div
        class="k-d-flex"
        style="
          gap: 16px;
          align-items: center;
          margin-bottom: 16px;
          justify-content: space-between;
        "
      >
        <div>
          <input id="searchBar" style="width: 120px" />
        </div>
        <div class="k-d-flex" style="gap: 8px">
          <button
            id="addBtn"
            class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-primary"
          >
            <span class="k-icon k-i-plus"></span> Create
          </button>
          <button
            id="exportBtn"
            class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base"
          >
            <span class="k-icon k-i-download"></span> Export
          </button>
        </div>
      </div>

      <!-- Grid Container -->
      <div id="gridContainer" style="flex: 1">
        <div id="grid-products" class="grid-block"></div>
      </div>
    </div>
  </div>

  <!-- ViewModel JS -->
  <script src="../viewmodels/products.js"></script>
</body>
